parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Http\\\\Middleware\\\\RedirectIfAuthenticated\\:\\:handle\\(\\) should return Symfony\\\\Component\\\\HttpFoundation\\\\Response but returns Illuminate\\\\Http\\\\RedirectResponse\\|Illuminate\\\\Routing\\\\Redirector\\.$#"
			count: 1
			path: app/Http/Middleware/RedirectIfAuthenticated.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: app/Providers/RouteServiceProvider.php
