parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:where\\(\\)\\.$#"
			count: 3
			path: app/BusinessDomain/Authentication/Service/AuthenticationService.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: app/BusinessDomain/Authentication/Service/AuthenticationService.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:create\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/AuthenticationController.php

		-
			message: "#^Cannot call method tokens\\(\\) on Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null\\.$#"
			count: 1
			path: app/Http/Controllers/AuthenticationController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$is_auctioneer\\.$#"
			count: 1
			path: app/Http/Middleware/Authorization/EnsureUserIsAuctioneerMiddleware.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$is_auctioneer\\.$#"
			count: 1
			path: app/Http/Middleware/Authorization/EnsureUserIsCarrierMiddleware.php

		-
			message: "#^Method App\\\\Http\\\\Middleware\\\\RedirectIfAuthenticated\\:\\:handle\\(\\) should return Symfony\\\\Component\\\\HttpFoundation\\\\Response but returns Illuminate\\\\Http\\\\RedirectResponse\\|Illuminate\\\\Routing\\\\Redirector\\.$#"
			count: 1
			path: app/Http/Middleware/RedirectIfAuthenticated.php

		-
			message: "#^SimpleXMLElement does not accept \\(int\\|string\\)\\.$#"
			count: 1
			path: app/Infrastructure/GraphML/GraphMlExporter.php

		-
			message: "#^SimpleXMLElement does not accept string\\.$#"
			count: 2
			path: app/Infrastructure/GraphML/GraphMlExporter.php

		-
			message: "#^Method App\\\\Infrastructure\\\\GraphML\\\\GraphMlLoader\\:\\:castAttribute\\(\\) has parameter \\$type with no type specified\\.$#"
			count: 1
			path: app/Infrastructure/GraphML/GraphMlLoader.php

		-
			message: "#^Method App\\\\Infrastructure\\\\GraphML\\\\GraphMlLoader\\:\\:castAttribute\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: app/Infrastructure/GraphML/GraphMlLoader.php

		-
			message: "#^Method App\\\\Infrastructure\\\\GraphML\\\\GraphMlLoader\\:\\:loadAttributes\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Infrastructure/GraphML/GraphMlLoader.php

		-
			message: "#^Parameter \\#1 \\$id of method Fhaculty\\\\Graph\\\\Graph\\:\\:createVertex\\(\\) expects int\\|null, string given\\.$#"
			count: 1
			path: app/Infrastructure/GraphML/GraphMlLoader.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\TransportRequest\\:\\:\\$destination_node\\.$#"
			count: 1
			path: app/Models/TransportRequest.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\TransportRequest\\:\\:\\$origin_node\\.$#"
			count: 1
			path: app/Models/TransportRequest.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\TransportRequest\\:\\:\\$requester_name\\.$#"
			count: 1
			path: app/Models/TransportRequest.php

		-
			message: "#^Method App\\\\Models\\\\TransportRequest\\:\\:user\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Models/TransportRequest.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\User\\:\\:\\$is_auctioneer\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\User\\:\\:\\$password\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\User\\:\\:\\$username\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Class Database\\\\Factories\\\\UserFactory extends generic class Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory but does not specify its types\\: TModel$#"
			count: 1
			path: database/factories/UserFactory.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:create\\(\\)\\.$#"
			count: 2
			path: tests/Unit/Middleware/Authorization/EnsureUserIsAuctioneerMiddlewareTest.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:create\\(\\)\\.$#"
			count: 2
			path: tests/Unit/Middleware/Authorization/EnsureUserIsCarrierMiddlewareTest.php
